[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/color-theme/twilight-emacs"]
	path = vendor/color-theme/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "vendor/smex"]
	path = vendor/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "vendor/color-theme/color-theme-github"]
	path = vendor/color-theme/color-theme-github
	url = git://github.com/dudleyf/color-theme-github.git
[submodule "vendor/slime"]
	path = vendor/slime
	url = git://git.boinkor.net/slime.git
[submodule "vendor/remember-2.0"]
	path = vendor/remember-2.0
	url = git://repo.or.cz/remember-el.git
[submodule "vendor/color-theme/color-theme-merbivore"]
	path = vendor/color-theme/color-theme-merbivore
	url = git://github.com/mig/color-theme-merbivore.git
[submodule "vendor/emacs-grep-o-matic"]
	path = vendor/emacs-grep-o-matic
	url = git://github.com/ZungBang/emacs-grep-o-matic.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/cheat"]
	path = vendor/cheat
	url = git://github.com/defunkt/cheat.git
[submodule "vendor/yasnippet/snippets/django"]
	path = vendor/yasnippet/snippets/django
	url = git@github.com:gregnewman/yasnippet-django.git
[submodule "vendor/yasnippet/snippets/django-mode"]
	path = vendor/yasnippet/snippets/django-mode
	url = git@github.com:gregnewman/yasnippet-django.git
